body {
    background-color: #555;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #3e8e41;
}

button:active {
    background-color: #316533;
}

.red-button {
    background-color: #f44336;
}

.red-button:hover {
    background-color: #d32f2f;
}

.red-button:active {
    background-color: #b71c1c;
}

.yellow-button {
    background-color: #ffeb3b;
    color: black;
}

.yellow-button:hover {
    background-color: #fdd835;
}

.yellow-button:active {
    background-color: #fbc02d;
}

.grayed-out {
    background-color: #f1f1f1;
    color: #c1c1c1;
    cursor: default;
}

.grayed-out:hover {
    background-color: #f1f1f1;
}

.grayed-out:active {
    background-color: #f1f1f1;
}



input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=range] {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

input[type=file] {
    display: none;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input.has-content::placeholder {
    position: absolute;
    top: 40px;
    left: 20px;
    transition: all 0.2s ease-in-out;
}

label {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.loading-bar {
    width: 100%;
    height: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    overflow: hidden;
}

.loading-bar-progress {
    height: 100%;
    background-color: #4CAF50;
    width: 0;
    transition: width 0.5s ease;
}

.github-link {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 0 0 0 10px;
}

.github-link:hover {
    background-color: #555;
}

#getting-started {
    font-family: Roboto, sans-serif;
    overflow-y: auto;
    /* border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    box-sizing: border-box;  */
    /* background-color: lightgoldenrodyellow */
}

#tile-popup {
    background-color: white;
    padding: 10px;
}

.error-message {
    color: red;
    /* place in bottom center of screen */
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}